
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="patient-profile.html">
<!-- <link rel="import" href="patient-editor.html">
<link rel="import" href="patient-journal.html">
<link rel="import" href="journal-editor.html"> -->

<dom-module id="patient-details">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-sizing: border-box;
        padding: 16px;
        height: 100vh;
        top: 0;
        background: #fff;
        border-left: 5px solid #434D54;
        left: 25%;
        right: 0;
        box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.2);
      }

      nav[hidden].details-nav {
        display: none;
      }

      nav.details-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-transform: uppercase;
        margin-bottom: 50px;
      }

      nav.details-nav a {
        padding-bottom: 4px;
      }

      nav.details-nav .sub-pages a {
        color: #B5B9BC;
        margin-right: 16px;
      }

      nav.details-nav .sub-pages a.active {
        color: #9DD22D;
        border-bottom: 2px solid #9DD22D;
      }

      nav.details-nav .sub-pages a:last-child {
        margin-right: 0;
      }

      .content {
        flex: 1;
        flex-direction: column;
        display: flex;
        overflow-y: scroll;
      }

      .content > * {
        flex: 1;
      }

      @media (max-width: 600px) {
        nav.details-nav .linktext {
          display: none;
        }
      }
    </style>

    <nav class="details-nav">
      <a href="/patients" router-link>
        <iron-icon icon="arrow-long-left"></iron-icon>
        <span class="linktext">All patients</span></a>
      <div class="sub-pages">
        <a class$="[[_getItemClasses('profile', page)]]">Profile</a>
        <a class$="[[_getItemClasses('journal', page)]]">Journal</a>
      </div>
      <a href$="[[route.prefix]]/edit">Edit patient</a>
    </nav>

    <iron-pages class="content" selected="[[page]]" fallback-selection="profile" attr-for-selected="name" role="main">
      <patient-profile name="profile" patient="{{patient}}"></patient-profile>
      <!-- <patient-journal name="journal" patient="[[patient]]" route="{{route}}" entries="[[journalEntries]]"></patient-journal>
      <patient-editor name="edit" patient="[[patient]]" route="{{route}}"></patient-editor>
      <journal-editor name="new-entry" patient="[[patient]]" route="{{route}}"></journal-editor> -->
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: 'patient-details',
      properties: {
        patient: {
          type: Object,
          notify: true
        },
        journalEntries: Array,
        page: {
          type: String
        }
      }
    })
  </script>
</dom-module>
