# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# IDEA files
.idea/
*.iml

# macOs
.DS_Store

# Frontend
/src/main/webapp/frontend-es*/

# Screenshots
error-screenshots/
reference-screenshots/
node_modules
package-lock.json
webpack.generated.js
