# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# IDEA files
.idea/
*.iml

# macOs
.DS_Store

# Frontend
src/main/dev-bundle/
/src/main/webapp/frontend-es*/
frontend/generated/
frontend/index.html
.npmrc
pnpmfile.js
tsconfig.json
types.d.ts

# Screenshots
error-screenshots/
reference-screenshots/
node_modules
webpack.generated.js
drivers

vite.*.ts
