# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# IDEA files
.idea
*.iml

# macOs
.DS_Store

# Frontend
/src/main/webapp/bin/
/src/main/webapp/bower_components/
/src/main/webapp/build/
/etc/
/src/main/webapp/lib/
/src/main/webapp/node/
/src/main/webapp/node_modules/
/src/main/webapp/yarn.lock

# Screenshots
error-screenshots/
reference-screenshots/
