<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../my-icons.html">
<dom-module id="main-view">
  <template>
    <style include="shared-styles">
       :host {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }

      nav.menu {
        background: #B5B9BC;
        height: 60px;
        display: flex;
      }

      nav.menu a {
        font-size: 16px;
        line-height: 60px;
        text-transform: uppercase;
        width: 200px;
        text-align: center;
        color: #fff;
        height: 100%;
      }

      nav.menu a:hover {
        color: #ddd;
        background: #747C81;
      }

      nav.menu a.active {
        background: #fff;
        color: #9DD22D;
      }

      nav.menu a.right {
        margin-left: auto;
      }

      .content {
        flex: 1;
        display: flex;
        padding: 16px;
        height: 100%;
      }

      .content>* {
        flex: 1;
      }
    </style>

    <nav class="menu">
      <a router-link href="/patients" class$="[[_isActive('patients', page)]]">Patients</a>
      <a router-link href="/analytics" class$="[[_isActive('analytics', page)]]">Analytics</a>

      <a class="right" on-tap="_logout">
        <iron-icon icon="sign-out"></iron-icon>
        Logout</a>

    </nav>

    <slot></slot>

  </template>
  <script>
    Polymer({
      is: 'main-view',
      properties: {
        page: {
          type: String
        }
      },

      _isActive: function(link, page) {
        return link === page ? 'active' : '';
      }
    });
  </script>
</dom-module>
