<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="patients-view">
  <template>
    <style include="shared-styles">
       :host {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
      }

      vaadin-grid {
        flex: 1;
        height: 100%;
      }

      .details-row label {
        width: 50%;
        text-align: right;
        padding-right: 0.5rem;
        margin-bottom: 0;
      }

      @media (max-width: 600px) {
        patient-details.open {
          left: 0;
          box-shadow: none;
          border: none;
        }
      }
      .strong {
        font-weight: bold;
      }
    </style>

    <iron-media-query query="(max-width: 600px)" query-matches="{{narrow}}"></iron-media-query>
    <vaadin-grid id="patientsGrid">
<!-- todo restore narrow functionality
    <vaadin-grid id="patientsGrid2" items="{{patients}}" active-item="{{currentPatient}}" page-size="100">
      <template class="row-details">
        <div class="details-row">
          <div class="field">
            <label>Id</label>
            <span>{{item.id}}</span>
          </div>
          <div class="field">
            <label>Medical record</label>
            <span>{{item.medicalRecord}}</span>
          </div>
          <div class="field">
            <label>Doctor</label>
            <span>{{item.doctor.lastName}}, {{item.doctor.firstName}}</span>
          </div>
          <div class="field">
            <label>Last entry</label>
            <span>[[formatDate(item.lastEntry)]]</span>
          </div>
        </div>
      </template>

      <vaadin-grid-column width="50px" flex="0" hidden="[[!narrow]]">
        <template class="header"></template>
        <template>
          <paper-icon-button icon="[[_expandIcon(expanded)]]" on-tap="_toggleExpand"></paper-icon-button>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="lastName">
            Name
          </vaadin-grid-sorter>
        </template>
        <template>
          <strong>[[item.lastName]], [[item.firstName]]</strong>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="40px" hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="id">
            Id
          </vaadin-grid-sorter>
        </template>
        <template>[[item.id]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="medicalRecord">
            Medical Record
          </vaadin-grid-sorter>
        </template>
        <template>[[item.medicalRecord]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="doctor.lastName">
            Doctor
          </vaadin-grid-sorter>
        </template>
        <template>[[item.doctor.lastName]], [[item.doctor.firstName]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="lastVisit">
            Last Visit
          </vaadin-grid-sorter>
        </template>
        <template>[[item.lastVisit]]</template>
      </vaadin-grid-column>
-->
    </vaadin-grid>

    <slot></slot>
  </template>
  <script>
    class PatientsView extends Polymer.Element {
      static get is() { return 'patients-view' }

      static get properties() {
        return {
          currentPatient: {
            type: Object,
            notify: true,
            observer: '_patientChanged'
          },
          currentPatientId: {
            type: String,
            value: "",
            notify: true
          }
        }
      }

      _patientChanged(patient) {
        // Grid fires an initial null selection when initialized which messes up everything
        if (!this.gridInited) {
          this.gridInited = true;
          return;
        }

        this.currentPatientId = patient ? patient.id : "";
        this._selectPatient(patient);
      }

      _selectPatient(patient) {
        this.$.patientsGrid.selectedItems = patient ? [patient] : [];
      }

      _detailsOpen(currentPatient) {
        return currentPatient ? 'open' : '';
      }

      _expandIcon(expanded) {
        return expanded ? 'chevron-down' : 'chevron-right'
      }

      _toggleExpand(evt) {
        const item = evt.model.item;
        if (this.$.patientsGrid.expandedItems && this.$.patientsGrid.expandedItems.includes(item)) {
          this.$.patientsGrid.expandedItems = [];
        } else {
          this.$.patientsGrid.expandedItems = [item];
        }
      }
    }
    customElements.define(PatientsView.is, PatientsView);
  </script>
</dom-module>
